<!doctype html> {% load staticfiles %}

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurantes - Aplicación sobre restaurantes</title>
  <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Restaurantes</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#" data-reveal-id="registro">Acceder</a></li>
      </ul>
    </div>
  </div>

  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
      <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
      <li class="orbit-slide is-active">
        <img src="{% static "img/plato_01.jpg" %}">
      </li>
      <li class="orbit-slide">
        <img src="{% static "img/plato_02.jpg" %}">
      </li>
      <li class="orbit-slide">
        <img src="{% static "img/plato_03.jpg" %}">
      </li>
      <li class="orbit-slide">
        <img src="{% static "img/plato_04.jpg" %}">
      </li>
    </ul>
  </div>

  <div class="row column text-center">
    <h2>Nuevos restaurantes</h2>
    <hr>
  </div>

  <div class="row small-up-2 large-up-4">
    <div class="column">
      <img class="thumbnail" src="{% static "img/restaurante_01.jpg" %}">
      <h5>Restaurante Uno</h5>
      <p>De 15€ a 25€</p>
      <a href="#" class="button expanded">Reservar</a>
    </div>
    <div class="column">
      <img class="thumbnail" src="{% static "img/restaurante_02.jpg" %}">
      <h5>Restaurante Dos</h5>
      <p>De 15€ a 25€</p>
      <a href="#" class="button expanded">Reservar</a>
    </div>
    <div class="column">
      <img class="thumbnail" src="{% static "img/restaurante_03.jpg" %}">
      <h5>Restaurante Tres</h5>
      <p>De 25€ a 35€</p>
      <a href="#" class="button expanded">Reservar</a>
    </div>
    <div class="column">
      <img class="thumbnail" src="{% static "img/restaurante_04.jpg" %}">
      <h5>Restaurante Cuatro</h5>
      <p>Más de 35€</p>
      <a href="#" class="button expanded">Reservar</a>
    </div>
  </div>
  <hr>
  <div class="row column">
    <div class="callout primary">
      <h3>Próximamente...</h3>
    </div>
  </div>
  <hr>

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
