<!doctype html> {% load staticfiles %}
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1.0" />
    <meta name="description"content="Plantilla base aplicación Restaurantes">
    <meta name="author"content="Germán Martínez Maldonado">
    <title>Restaurantes - Aplicación sobre restaurantes</title>

    {% load staticfiles %}
    <link href="{% static 'css/vendors/foundation.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors/foundation-icons/foundation-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vendors/orbit.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>

    <script src="{% static "js/vendors/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/votar.js" %}"></script>
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Restaurantes</li>

                {% block body_block %}
                {% endblock %}

                <div id="login" class="reveal" data-reveal aria-labelledby="Acceder" aria-hidden="true" role="dialog" style="position: absolute; top: 50%; left: 50%; margin-left: -300px;">
                    <div class="row">
                        <div class="large-6 columns auth-plain">
                            <div class="signup-panel left-solid">
                                <p class="text-center" style="font-size: 25px; font-weight: bold;">Usuarios registrados</p>
                                <form method="post" action="/accounts/login/">
                                    {% csrf_token %}
                                    <div class="row collapse">
                                        <div class="small-2 columns">
                                            <span class="prefix"><i class="fi-torso"></i></span>
                                        </div>
                                        <div class="small-10 columns">
                                            <input name="usuario" type="text" placeholder="usuario" required>
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-2 columns">
                                            <span class="prefix"><i class="fi-lock"></i></span>
                                        </div>
                                        <div class="small-10 columns">
                                            <input name="password" type="password" placeholder="password" required>
                                        </div>
                                    </div>
                                    <input type="submit"class="button expanded" value="Iniciar sesión" required>
                                </form>
                            </div>
                        </div>
                        <div class="large-6 columns auth-plain">
                            <div class="signup-panel newusers">
                                <p class="text-center" style="font-size: 25px; font-weight: bold;">¿Nuevo usuario?</p>
                                <p>Es necesario que se registre para tener un acceso completo al portal.</p>
                                <br style="line-height: 44px;">
                                <a class="button expanded" data-open="logup">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="logup" class="reveal tiny" data-reveal aria-labelledby="Registrarse" aria-hidden="true" role="dialog" style="position: absolute; top: 50%; left: 50%; margin-left: -300px;">
                    <div class="row">
                          <div class="signup-panel left-solid">
                              <p class="text-center" style="font-size: 25px; font-weight: bold;">Nuevos usuarios</p>
                              <form method="post" action="/accounts/register/">
                                  {% csrf_token %}
                                  <div class="row collapse">
                                      <div class="small-4 columns">
                                          <span class="prefix">Usuario</i></span>
                                      </div>
                                      <div class="small-8 columns">
                                          <input name="usuario" type="text" required>
                                      </div>
                                  </div>
                                  <div class="row collapse">
                                      <div class="small-4 columns">
                                          <span class="prefix">Correo electrónico</i></span>
                                      </div>
                                      <div class="small-8 columns">
                                          <input name="email" type="email" required>
                                      </div>
                                  </div>
                                  <div class="row collapse">
                                      <div class="small-4 columns">
                                          <span class="prefix">Contraseña</span>
                                      </div>
                                      <div class="small-8 columns">
                                          <input name="password" type="password" required>
                                      </div>
                                  </div>
                                  <div class="row collapse">
                                      <div class="small-4 columns">
                                          <span class="prefix">Repetir<br>contraseña</span>
                                      </div>
                                      <div class="small-8 columns">
                                          <input name="repassword" type="password" required>
                                      </div>
                                  </div>
                                  <br>
                                  <input type="submit"class="button expanded" value="Registrarse">
                              </form>
                          </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">
              {% if user.is_authenticated %}
                <li> Hola <strong> {{user.username}} </strong>&nbsp&nbsp&nbsp&nbsp</li>
                <li>
                  <a class="button" href="{% url 'auth_logout' %}">Salir</a>
                </li>
              {% else %}
                <li>
                  <a class="button" data-open="login">Acceder</a>
                </li>
                <li>
                  <a class="button" data-open="logup">Registrarse</a>
                </li>
              {% endif %}
            </ul>
        </div>
    </div>

    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
            <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Imagen anterior</span>&#9664;</button>
            <button class="orbit-next" aria-label="next"><span class="show-for-sr">Imagen siguiente</span>&#9654;</button>
            <li class="orbit-slide is-active">
                <img src="{% static "img/plato_01.jpg" %}">
            </li>
            <li class="orbit-slide">
                <img src="{% static "img/plato_02.jpg" %}">
            </li>
            <li class="orbit-slide">
                <img src="{% static "img/plato_03.jpg" %}">
            </li>
            <li class="orbit-slide">
                <img src="{% static "img/plato_04.jpg" %}">
            </li>
        </ul>
    </div>
    <div class="row column text-center">
        <h2>Nuevos restaurantes</h2>
        <hr>
    </div>
    <div class="row small-up-2 large-up-4">
        {% for r in restaurantes %}
        <div class="column">
            <img class="thumbnail" src="{% static r.foto %}">
            <h5>{{ r.nombre }}</h5>
            <p>{{ r.direccion }}</p>
            <ul id="votacion">
                <!--<li><a href="/app/votar/?restaurante=Restaurante%201"class="button">Votar</a></li>-->
                <li>
                    <button type="button"id="votaciona"class="button">Votar</button>
                </li>
                <li>
                    <input type="text" name="voto" style="width: 50px; background-color: white" value="{{ r.votos }}" disabled>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row column">
        <div class="callout primary">
            <h3>Próximamente...</h3>
        </div>
    </div>
    <hr>

  <div class="callout large secondary">
    <div class="row">
      <p class="text-center"> <small>Desarrollado por Germán Martínez Maldonado<br/>© 2016</small> </p>
    </div>
  </div>


    <script src="{% static "js/vendors/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/vendors/foundation.js" %}"></script>
    <script src="{% static "js/vendors/foundation.reveal.js" %}"></script>
    <script>
        $(document).foundation();
    </script>
    <script type="text/javascript" src="{% static "js/vendors/zcom.js" %}"></script>
</body>

</html>
